:root {
  --mainBlue: black;
  --lightBlue: white;
  --mainWhite: white;
  --offWhite: white;
  --mainDark: black;
  --mainYellow: #ffa400;
}

body {
 font-family: 'Noto Sans JP', sans-serif !important;
 background: var(--offWhite) !important;
 color: black !important;
}

.text-title {
 font-family: 'PT Sans Caption', sans-serif;
 letter-spacing: 0.3rem;
 text-transform: uppercase;
 }

.text-blue {
 color: var(--mainBlue);
}

.text-bright {
 color: var(--mainBlue);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--offWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.cart-text {
  font-family: 'Sansita Swashed', cursive;
  font-size: .7em;
  font-weight: 200;
  color:grey;
}
  
  

  

